@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&family=Poppins:wght@300;400;500;600;700;800&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
nav {
    font-family: 'Poppins', sans-serif;
}

header,
nav {
    z-index: 100001;
}

.active {
    color: #ff4a17 !important;
}

.banner {
    background-image: url("/src/assets/hero_bg.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-attachment: fixed;
}

.cs-style1 {
    height: calc(100vh + 180px);
    min-height: 100vh;
    padding: 250px 0 170px;
    position: relative;
}

.cs-shape-1 {
    border-bottom: 9px solid transparent;
    border-left: 14px solid #ff4a17;
    border-top: 9px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    animation: semi-rotate-anim 8s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@keyframes semi-rotate-anim {
    50% {
        transform: translateY(25px) rotate(-53deg);
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.cs-shape-1:first-child {
    left: 10%;
    top: 25%;
}

.cs-shape-1:nth-child(2){
    left: 72%;
    top:30%;
    transform: rotate(-15deg);
}

.cs-shape-1:nth-child(3){
 left: 35%;
 top: 68%;
 transform: rotate(-30deg);   
}

.cs-down_btn{
    border: 2px solid #fff;
    border-radius: 10px;
    height: 35px;
    position: absolute;
    left: 50%;
    margin-left: -10px;
    width: 20px;
    cursor: pointer;
}

.cs-down_btn::before{
    border-radius: 50%;
    content: "";
    height: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: #fff;
    width: 5px;
    transform: translate(-50%, -50%);
    animation: UpAndDown 3s infinite;
}

@keyframes UpAndDown{
    0%, 100%{
        top: 30%;
    }
    50%{
        top: 70%;
        opacity: .5;
        transform: translate(-50%,-50%) scale(0.8);
    }
}

.service-card{
    margin: 18px auto !important;
    @apply lg:w-1/4 sm:w-5/12 my-auto mx-auto hover:shadow-lg hover:shadow-orange rounded-2xl transition-all duration-300;
}
.slick-slider{
    overflow: hidden;
    color: #fff;
    padding-left: 12px;
    padding-right: 12px;
}

.slick-slider{
    border-radius: 16px;
}

.slick-active{
    padding-left: 12px;
    padding-right: 12px;
}